doctype
html
    head
        meta(charset='utf-8')
        title 数据抓取
    body
        a( href="/carclass/fetch/save") 爬取数据存储
        br
        a(href="/carclass/update/logo") 更新logo
        br
        a(href="/carclass/remove/empty/logo") 删除没有logo的数据
        br
        a(href="/test/logo") logo抓取测试
